/* @import "tailwindcss"; */

/* li reset */

li {
  display: inline-block;
  list-style: none;
}

.slideWrap {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  height: 200px;
  overflow: hidden;
}

.slideWrap .imgSlide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.slideWrap .imgSlide li {
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin-right: 5vw;
  background-color: #ccc;
  text-align: center;
}

.imgSlide.original {
  /* animation 추가 */
  /* 30s: 애니메이션 지속 시간 */
  /* linear: 애니메이션 속도 곡선 (일정한 속도) */
  /* infinite: 애니메이션 무한 반복 */
  animation: slide01 30s linear infinite;
}

.imgSlide.clone {
  /* animation 추가 */
  /* 30s: 애니메이션 지속 시간 */
  /* linear: 애니메이션 속도 곡선 (일정한 속도) */
  /* infinite: 애니메이션 무한 반복 */
  animation: slide02 30s linear infinite;
}

@keyframes slide01 {
  /* 시점별 이동 효과 */
  /* 처음엔 정위치 */
  /* 50%까지는 왼쪽으로 완전히 이동하여 안보이게 */
  /* 50% 직후에 가장 오른쪽으로 이동하여 clone 이미지 오른쪽에 붙이기 */
  /* 100%에서는 다시 정위치 */
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide02 {
  /* 시점별 이동 효과 */
  /* 오른쪽에 위치하며 화면에서는 보이지 않음 */
  /* 100%에서는 왼쪽으로 이동하며 화면에 보이게 */
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
